<% provide(:title, t("link.login")) %>
</br>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1><%= t("link.login") %></h1>
    <%= form_for :session, url: login_path do |f| %>
      <div class="form-group">
        <%= f.label :email, t("form.email") %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, t("form.pass") %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span><%= t("form.remember") %></span>
        <% end %>
        <%= f.submit t("link.login"), class: "form-select btn btn-primary" %>
      </div>
    <% end %>
    <p><%= link_to t("link.signup"), signup_path %></p>
  </div>
</div>
