<div class="container">
  <div class="row justify-content-md-center">
    <h1><%= t("label.user") %></h1>
  </div>
  </br>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("label.index") %></th>
          <th><%= sort_link @q, :name, t("label.name") %></th>
          <th><%= sort_link @q, :email, t("label.email") %></th>
          <th><%= sort_link @q, :address, t("label.address") %></th>
          <th><%= sort_link @q, :phone, t("label.phone") %></th>
          <th><%= sort_link @q, :role, t("label.role") %></th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, i| %>
          <%= render "user", user: user,
            counter: counter_per_page(i, params[:page], Settings.users.per_page) %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-md-center">
    <%= will_paginate %>
  </div>
</div>
