<div class="col-md-3">
  <div class="product-grid3">
    <div class="product-image3">
      <%= link_to (image_tag product_item.image), product_item %>
      <ul class="social">
        <li>
          <%= form_for :cart, url: shoping_path, method: :POST, remote: true do |f| %>
            <div><%= f.hidden_field :product_id, value: product_item.id %></div>
            <%= f.button :submit do %>
              <i class="fa fa-shopping-bag"></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= form_for :cart, url: shoping_path, method: :POST do |f| %>
            <div><%= f.hidden_field :product_id, value: product_item.id %></div>
            <%= f.button :submit do %>
              <i class="fa fa-shopping-cart"></i>
            <% end %>
          <% end %>
        </li>
      </ul>
      <span class="product-new-label">New</span>
    </div>
    <div class="product-content">
      <h3 class="title">
        <%= product_item.name %>
      </h3>
      <div class="price">
        <%= number_to_price product_item.price %>
        <span><%= fake_sale_price product_item.price %></span>
      </div>
      <ul class="rating">
        <% starlight = product_item.get_rank %>
        <% 5.times do |n| %>
          <% if n + 0.5 == starlight %>
            <li class="fa fa-star-half-o"></li>
          <% elsif n < starlight %>
            <li class="fa fa-star"></li>
          <% else %>
            <li class="fa fa-star-o"></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
