<br>
<div class="container">
  <div class="row justify-content-md-center">
    <h1><%= t("label.product") %></h1>
    </br>
  </div>
  <div class="row">
    <div class="col-md-5">
    <%= link_to t("link.add_product"), new_product_path, class: "btn btn-info" %>
    <%= link_to t("link.add_menu"), new_category_path, class: "form-select btn btn-info" %>
    </div>
    <div class="col-md-7">
      <div class="row">
        <%= form_tag import_products_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag t("form.import"), class: "btn btn-info" %>
        <% end %>
        <%= link_to t("form.export"), products_path(format: "csv"), class: "form-select btn btn-info" %>
        <%= link_to t("link.template"), products_path(format: "csv", type: Settings.products.tmp_type),
          class: "form-select btn btn-info" %>
      </div>
    </div>
  </div>
  </br>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th class="th-child-5"><%= t("label.index") %></th>
          <th class="th-child-5"><%= t("label.image") %></th>
          <th class="th-child-20"><%= sort_link @q, :name, t("label.name") %></th>
          <th class="th-child-20"><%= t("label.info") %></th>
          <th class="th-child-20"><%= sort_link @q, :category_id, t("label.category") %></th>
          <th class="th-child-10"><%= sort_link @q, :price, t("label.price") %></th>
          <th class="th-child-5"><%= sort_link @q, :quantity, t("label.quantity") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each_with_index do |product, i| %>
          <%= render "product", product: product,
            counter: counter_per_page(i, params[:page], Settings.products.per_page) %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-md-center">
    <%= will_paginate %>
  </div>
