<h1>Products</h1>

<div class="container">
  <ul class="list-inline">
    <li><%= label :category, "Find by: " %></li>
    <li>
     <%= form_tag("/products", method: :GET, id: "form_filter") do %>
      <%= select_tag :category_id, options_for_select(Category.all.collect{|x| [x.name,x.id]}, params[:category_id]), {include_blank: "All"} %>
     <% end %>
    </li>
    <li><%= label :result, "There are #{@products.total_entries} products." %></li>
  </ul>
</div>

<table class="table">
  <thead>
    <tr>
      <th width="8%"> </th>
      <th width="5%">ID</th>
      <th width="10%">Product</th>
      <th width="20%">Info</th>
      <th width="10%">Category</th>
      <th width="10%">Quantity</th>
      <th width="15%">Price</th>
      <th width="5%">Rank</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "product_item", collection: @products %>
  </tbody>
</table>

<%= will_paginate %>

<%= javascript_include_tag "load_products.js" %>
