<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="product-grid3">
        <div class="product-image3">
          <%= image_tag @product.image_url, alt: @product.name %>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <h1><strong><%= @product.name %></strong></h1>
      <ul class="rating">
        <%= hidden_field_tag :stars, @product.get_rank,
          class: "rating", data: {filled: "fa fa-star fa-1x", empty: "fa fa-star-o fa-1x", readonly: true} %>
      </ul>
      <h5>(<%= t("product.review", count: @product.reviews.count) %>)</h5>
      <h5><%= @product.info %></h5>
      <br>
      <h3>
        <%= t("label.price") %>:
        <%= number_to_price @product.price %>
      </h3>
      <br>
      <%= form_for :cart, url: shoping_path, method: :POST, remote: true do |f| %>
        <div><%= f.hidden_field :product_id, value: @product.id %></div>
        <div class="form-inline">
          <%= f.label :quantity, t("label.quantity") %>
          <%= f.number_field :quantity, value: Settings.products.quantity_min,
            class: "form-select form-control" %>
        </div>
        <br>
        <%= f.button :submit, class: "btn btn-info" do %>
          <i class="fa fa-shopping-bag"></i> Add to cart
        <% end %>
      <% end %>

      <hr>
      <%= form_for @review do |f| %>
        <div class="row">
          <div class="col-md-2">
            <h4><%= t("label.review") %>:</h4>
          </div>
          <div class="col-md-4 offset-md-1">
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.hidden_field :score, class: "rating",
              data: {filled: "fa fa-star fa-2x", empty: "fa fa-star-o fa-2x"} %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <%= f.text_area :content, placeholder: t("label.enter_review"), class: "md-textarea form-control" %>
          </div>
          <div class="col-md-2">
             <%= f.submit t("form.post"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <% if @product.reviews.any? %>
    <div class="container">
      <div class="card">
        <div class="card-header">Comments</div>
        <ul class="list-group list-group-flush">
          <%= render partial: "review", collection: @reviews %>
        </ul>
      </div>
    </div>

    <%= will_paginate @reviews %>
  <% end %>
</div>
<br>

<%= render "facebook_comment", link: product_url(@product) %>

<% javascript_include_tag "facebook" %>
<%= javascript_include_tag "bootstrap-rating" %>
