<div class="fixed-top">
  <header >
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <%= link_to t("logo"), root_path, class: "navbar-brand" %>

        <nav class="navbar navbar-expand-sm justify-content-center">
          <div class="form-inline my-2 my-lg-0">
            <%= form_tag search_path, method: :GET do %>
              <div class="input-group input-group-sm">
                <%= text_field_tag :search_text, params[:search_text], placeholder: t("label.search"),
                  class: "form-control" %>
                <div class="input-group-append">
                  <%= button_tag :submit, class: "btn btn-secondary btn-number" do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= link_to cart_path, class: "btn btn-success btn-sm ml-3" do %>
              <i class="fa fa-shopping-cart"></i> <%= t("link.cart") %>
              <span class="badge badge-light" id="cart_size">
                <%= load_size_cart %>
              </span>
            <% end %>
          </div>
        </nav>

        <ul class="navbar-nav nav-right">
          <li class="nav-item active">
            <%= link_to t("label.home"), root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to t("link.cart"), cart_path, class: "nav-link" %>
          </li>

          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li class="nav-item dropdown ">
                <div id="navbardrop" data-toggle="dropdown">
                  <%= link_to t("link.manager"), "#", class: "nav-link dropdown-toggle active" %>
                </div>
                <div class="dropdown-menu">
                  <%= link_to t("label.statistic"), statistic_path, class: "dropdown-item" %>
                  <%= link_to t("label.user"), "", class: "dropdown-item" %>
                  <%= link_to t("label.product"), products_path, class: "dropdown-item" %>
                  <%= link_to t("label.receipt"), admin_orders_path, class: "dropdown-item" %>
                  <%= link_to t("label.suggestion"), suggestions_path, class: "dropdown-item" %>
                </div>
              </li>
            <% end %>
            <li class="nav-item dropdown ">
              <div id="navbardrop" data-toggle="dropdown">
                <%= link_to t("link.account"), "#", class: "nav-link dropdown-toggle active" %>
              </div>
              <div class="dropdown-menu">
                <%= link_to t("link.profile"), "", class: "dropdown-item" %>
                <%= link_to t("link.setting"), "", class: "dropdown-item" %>
                <%= link_to t("label.history"), orders_path, class: "dropdown-item" %>
                <%= link_to t("label.suggestion"), new_suggestion_path, class: "dropdown-item" %>
                <%= link_to t("link.logout"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to t("link.login"), new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container" id="alert-msg">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </div>
</div>
